body{
    background-color: #F3DFE0;
    padding-top: 80px; /* Ajusta según la altura de tu navbar */
}

.navbarSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar{
    width: 100%;
}

.navbar-brand img {
    width: 30px;  /* Ajusta el tamaño de la imagen */
    height: 30px; /* Ajusta el tamaño de la imagen */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}

/* Sections */
.seccion{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Cuando se activa, la sección aparece */
.seccion.show{
    opacity: 1;
    transform: translateY(0);
}

/* Asegurarnos de que no haya bordes ni márgenes inesperados en las secciones */
.seccion, .row, .col-md-6 {
    border: none;  /* Elimina cualquier borde */
    margin: 0;  /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding extra que pudiera estar afectando */
}

/* Si deseas mantener el borde solo en ciertas secciones, puedes añadirlo manualmente */
.seccion.custom-border {
    border: 2px solid #ccc; /* ejemplo de borde */
}

/* Asegurarse de que las imágenes también no tengan bordes */
img {
    border: none;
}


.modal-body img {
    max-height: 500px; /* Limitar la altura máxima de la imagen */
    object-fit: cover; /* Asegurar que la imagen se ajuste bien */
}

/* Personalizar el texto del modal */
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}

/* Asegurarse de que el modal esté centrado y bien estilizado */
.modal-dialog-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #F3DFE0;
    padding: 20px;
    border-radius: 10px; /* Borde redondeado opcional */
}

/* Estilo de los controles del carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #062457; /* Color personalizado para los íconos */
}



footer{
    display :flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}